@use '../assets/common/styles/abstracts/' as v;
@use '../assets/common/styles/utils/' as u;

.game {
  width: u.toRem(500px);
  padding: u.toRem(30px);
  background-color: v.$game-bg-color;
  border-radius: 10px;

  &__title {
    color: v.$heading-text-color;
    text-align: center;
    font-size: u.toRem(38px);
    font-weight: 700;
    letter-spacing: -0.768px;
    margin-bottom: u.toRem(10px);
  }

  &__instruction {
    margin-inline: auto;
    color: v.$instruction-text-color;
    text-align: center;
    font-family: 'Inter';
    font-size: u.toRem(16px);
    letter-spacing: -0.393px;
    margin-bottom: u.toRem(24px);
  }

  .field {
    max-width: u.toRem(320px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: u.toRem(12px);
    justify-content: space-between;
    margin-bottom: u.toRem(26px);

    &__item {
      width: u.toRem(50px);
      height: u.toRem(50px);
      color: v.$heading-text-color;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid black;
      box-shadow: 0px 0px 0px 4px #fff;
      user-select: none;
      cursor: pointer;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;

      &:hover {
        transform: scale(1.05);
      }

      .dot {
        visibility: hidden;
        width: u.toRem(11.5px);
        height: u.toRem(11.5px);
        background-color: #000;
        border-radius: 50%;
      }
    }

    &__item--active {
      background-color: v.$active-field-color;
    }

    &__item--1 {
      .dot:nth-child(5) {
        visibility: visible;
      }
    }
    &__item--2 {
      .dot:nth-child(6n + 2) {
        visibility: visible;
      }
    }
    &__item--3 {
      .dot:nth-child(4n + 1) {
        visibility: visible;
      }
    }
    &__item--4 {
      .dot:nth-child(8n + 1),
      .dot:nth-child(4n + 3) {
        visibility: visible;
      }
    }
    &__item--5 {
      .dot:nth-child(odd) {
        visibility: visible;
      }
    }
    &__item--6 {
      .dot:nth-child(3n + 1),
      .dot:nth-child(3n + 3) {
        visibility: visible;
      }
    }
  }

  &__roll-btn {
    padding: u.toRem(12px);
    display: block;
    margin-inline: auto;
    min-width: 40%;
    background-color: v.$game-btn-color;
    color: #fff;
    font-size: u.toRem(18px);
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}