@use './assets/common/styles/abstracts/colors' as c;
@use './assets/common/styles/utils/' as u;

body {
  font-family: 'Karla';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$page-bg-color;
}

.btn {
  padding: u.toRem(12px);
  display: block;
  margin-inline: auto;
  min-width: 40%;
  background-color: c.$game-btn-color;
  color: #fff;
  font-size: u.toRem(18px);
  font-weight: 700;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}