@use './assets/common/styles/abstracts/colors' as c;

body {
  font-family: 'Karla';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$page-bg-color;
}